$bck-color: #FFBB00;
$text-color: #FFF;

.floatingButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 16px;
    bottom: 16px;
    background-color: $bck-color;
    transform-origin: 100% 100% 0px;
}

.plus {
    stroke: $text-color;
    stroke-width: 4;
    stroke-linecap: round;
}


.composeMenuWrapper {
    position: fixed;
    display: block;
    background-color: rgb(255, 255, 255);
    pointer-events: none;
    right: 16px;
    bottom: 16px;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 20%) 0px 16px 32px 0px;
    transform-origin: 100% 100% 0px;
}

.composeArea {
    overflow: hidden;
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    &:last-child{
        background-color: $bck-color;
    }
}

.composeButton {
    color: $text-color;
    margin: 0 8px;
    font-size: 24px;
    font-weight: bold;
}

.composeMenuItemIcon {
    width: 24px;
    height: 24px;
    min-width: 24px;
    margin: 0px 8px;
    border-radius: 50%;
    border: 2px solid #FFBB00;
}

.composeMenuItemText {
    overflow: hidden;
    line-break: strict;
    text-overflow: ellipsis;
    white-space: nowrap;
}