$colors: (0: #0099FF, 1: #6633FF, 2: #FFBB00);

.contentWrapper {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardList {
    height: 60vh;
    width: 80vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.cardWrapper {
    height: 60vh;
    width: 80vw;
    min-width: 80vw;
    transform-style: preserve-3d;

    &:not(:last-child) {
        margin-right: 25px;
    }
}

.card {
    height: 100%;
    width: 100%;
    min-width: 100%;
    border-radius: 16px;
    transform-style: flat;
}

@each $index, $color in $colors {
    .card--#{$index} {
      background-color: $color;
    }
}