.contentWrapper {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardList {
    height: 60vh;
    width: 80vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    perspective: 1200px;
}

.cardWrapper {
    height: 60vh;
    width: 80vw;
    min-width: 80vw;
    transform-style: preserve-3d;
    // background-color: black;

    &:not(:last-child) {
        margin-right: 25px;
    }
}

.dummy {
    height: 2px;
    width: 300vh;
}